################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BangKa/obj/Debug/net7.0/BangKa.AssemblyInfoInputs.cache
/BangKa/obj/Debug/net7.0/BangKa.AssemblyInfo.cs
/BangKa/.vs/BangKa/v17/DocumentLayout.json
/BangKa/.vs/BangKa/v17/DocumentLayout.backup.json
/BangKa/.vs/BangKa/v17/.suo
/BangKa/.vs/BangKa/FileContentIndex/969e02e4-fb79-4ef0-be15-8509d68f1e0d.vsidx
/BangKa/.vs/BangKa/FileContentIndex/75a44d04-f760-452d-9ff2-20573647e351.vsidx
/BangKa/.vs/BangKa/FileContentIndex/66e95fdc-35cf-46b2-aaa0-dbce7e98644b.vsidx
/BangKa/.vs/BangKa/FileContentIndex/546fa3f9-aa20-42f1-886b-02e5fb074283.vsidx
/BangKa/.vs/BangKa/FileContentIndex/43e36fec-0c89-4c87-89b2-a3d3f6449e41.vsidx
